CHANNEL_ADAPTER_SERVICE_PORT=
DATABASE_URL=

KAFKA_API_KEY=
KAFKA_API_SECRET=
KAFKA_BROKERS=
KAFKA_CLIENT_ID_PREFIX=
KAFKA_GROUP_ID=

RAILWAY_DOCKERFILE_PATH=

NAVER_API_ENDPOINT=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
COUPANG_ACCESS_KEY=
COUPANG_SECRET_KEY=
COUPANG_VENDOR_ID=
