DATABASE_URL=

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_CLIENT_ID_PREFIX="channel-adapter"
KAFKA_GROUP_ID="channel-adapter-group"

RAILWAY_DOCKERFILE_PATH="apps/channel-adapter/Dockerfile"

NAVER_API_ENDPOINT=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
COUPANG_ACCESS_KEY=
COUPANG_SECRET_KEY=
COUPANG_VENDOR_ID=
