AUTH_SECRET=

DATABASE_URL=

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_CLIENT_ID_PREFIX="wms"
KAFKA_GROUP_ID="wms-group"

RAILWAY_DOCKERFILE_PATH="apps/wms/Dockerfile"

PORT=

OTEL_SERVICE_NAME=wms
OTEL_EXPORTER_OTLP_ENDPOINT=
