DATABASE_URL=

KAFKA_CLIENT_ID_PREFIX="membership"
KAFKA_GROUP_ID="membership-group"

KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"

RAILWAY_DOCKERFILE_PATH="apps/membership/Dockerfile"
