AUTH_SECRET=

DATABASE_URL=

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_CLIENT_ID_PREFIX="pim"
KAFKA_GROUP_ID="pim-group"

RAILWAY_DOCKERFILE_PATH="apps/pim/Dockerfile"

ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

OTEL_SERVICE_NAME=pim
OTEL_EXPORTER_OTLP_ENDPOINT=
