MEDUSA_ADMIN_ONBOARDING_TYPE=
STORE_CORS=
ADMIN_CORS=
AUTH_CORS=

REDIS_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
COOKIE_SECRET=

DATABASE_URL=

FRONTEND_URL=

KAFKA_CLIENT_ID_PREFIX="medusa"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_GROUP_ID="medusa-group"

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"

RAILWAY_DOCKERFILE_PATH="apps/medusa/Dockerfile"
