AUTH_SECRET=

DATABASE_URL=
PORT=

KAFKA_CLIENT_ID_PREFIX="file-service"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_GROUP_ID="file-service-group"

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"

STORAGE_PROVIDER=

AWS_REGION=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_S3_PUBLIC_BUCKET=
AWS_S3_PRIVATE_BUCKET=

RAILWAY_DOCKERFILE_PATH="apps/file-service/Dockerfile"
