DATABASE_URL=

KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_CLIENT_ID_PREFIX="analytics"
KAFKA_GROUP_ID="analytics-group"

RAILWAY_DOCKERFILE_PATH="apps/analytics/Dockerfile"
