MEDUSA_ADMIN_ONBOARDING_TYPE=
STORE_CORS=
ADMIN_CORS=
AUTH_CORS=

REDIS_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
COOKIE_SECRET=

DATABASE_URL=

FRONTEND_URL=
USER_SERVICE_URL=
MEDUSA_BACKEND_URL=

KAFKA_CLIENT_ID_PREFIX=
KAFKA_BROKERS=
KAFKA_GROUP_ID=

ALMOND_PAYMENT_ENDPOINT=
