# 루트디렉토리에 env파일생성 EX)apps상위

DATABASE_URL=""
PORT=5000
CORS_ORIGIN_DOMAIN="http://localhost:3000" #프론트쪽 주소
EMAIL_RESET_PASSWORD_URL="http://localhost:3000/reset-password" #프론트쪽 주소
SIGNUP_REDIRECT_URL="http://localhost:3000/signup/callback" #프론트쪽 주소
APP_URL="http://localhost:5000"
AUTH_SECRET=""
JWT_VERIFICATION_TOKEN_SECRET=''
JWT_REFRESH=''
JWT_ACCESS_TOKEN_EXPIRATION=''
JWT_RESET_PASSWORD_ACCESS_TOKEN_EXPIRATION=''
JWT_REFRESH_TOKEN_EXPIRATION=''
JWT_EMAIL_VERIFICATION_ACCESS_TOKEN_EXPIRATION=''
# RESEND_API_KEY='re_GHdgVtMG_PGpSkk9w8z8YXS5h1oDdU6dc' 엘씨나인구글
RESEND_API_KEY=''