MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com,http://localhost:5000
REDIS_URL=redis://localhost:6379
JWT_SECRET=1e1eb3ad8d2163cfae3279b178a22a050093dcde6edca420e1f6bbaf1d4b2f49
JWT_EXPIRES_IN=30d
COOKIE_SECRET=1e1eb3ad8d2163cfae3279b178a22a050093dcde6edca420e1f6bbaf1d4b2f49
# DATABASE_URL=postgres://postgres:postgres@localhost/postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

FRONTEND_URL=http://localhost:8000
USER_SERVICE_URL=http://localhost:5000
MEDUSA_BACKEND_URL=http://localhost:9000
# 카프카
KAFKA_CLIENT_ID=medusa-service
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=medusa-consumer

# Almond Payment Provider 설정
ALMOND_PAYMENT_ENDPOINT=http://localhost:3001