EXPO_PUBLIC_STOREFRONT_ORIGIN=https://almondyoung.com
EXPO_PUBLIC_MEDUSA_URL=https://medusa.almondyoung.com
EXPO_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_...
EXPO_PUBLIC_AUTH_WEB_ORIGIN=https://auth.almondyoung.com
EXPO_PUBLIC_APP_OAUTH_CLIENT_ID=almondyoung-android-app
EXPO_PUBLIC_USER_SERVICE_URL=https://user.almondyoung.com
EXPO_PUBLIC_NOTIFICATION_URL=https://notification.almondyoung.com
EXPO_PUBLIC_DEFAULT_COUNTRY_CODE=kr
