AUTH_SECRET="${{shared.AUTH_SECRET}}"

DATABASE_URL=postgresql://neondb_owner:npg_uZH3erzXIdR6@ep-wild-poetry-a1x5p1po-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_CLIENT_ID_PREFIX="pim"
KAFKA_GROUP_ID="pim-group"

RAILWAY_DOCKERFILE_PATH="apps/pim/Dockerfile"

ELASTICSEARCH_NODE="https://elasticsearch-demo.up.railway.app"
ELASTICSEARCH_USERNAME="elastic"
ELASTICSEARCH_PASSWORD="zxhkupthcac58p95e93i1twztezofs8c"