DATABASE_URL=postgresql://neondb_owner:npg_3iel2QVDdrMI@ep-billowing-base-a17cr9aq-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

RAILWAY_DOCKERFILE_PATH="apps/notification/Dockerfile"

KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_CLIENT_ID_PREFIX="notification"
KAFKA_GROUP_ID="notification-group"

NHN_API_URL="https://api-alimtalk.cloud.toast.com"
NHN_APP_KEY="56ySy3UiPmNhryr8"
NHN_PLUS_FRIEND_ID="@아몬드영"
NHN_SECRET_KEY="p2CCuK4jPYJLZvydoVNEykYKOZb6IvkV"
NHN_SENDER_KEY="4bd6430a65cad17d327c758006e5cf4a773d82e6"

RESEND_API_KEY="re_L5T64k9X_PUJsu8kKModEQbJBQh1uvoUg"
RESEND_BASE_URL="https://api.resend.com"
RESEND_FROM="noreply@almondyoung.com"
RESEND_FROM_NAME="Almond Young"
RESEND_WEBHOOK_SECRET="whsec_YZD5Z6aPggL5dlUTBiQguzD2N6v8gvob"
