AUTH_SECRET="${{shared.AUTH_SECRET}}"

DATABASE_URL=postgresql://neondb_owner:npg_wciEISW8HuU7@ep-still-shape-a14xh93f-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=3001

KAFKA_CLIENT_ID_PREFIX="file-service"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_GROUP_ID="file-service-group"

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"

RAILWAY_DOCKERFILE_PATH="apps/file-service/Dockerfile"

STORAGE_PROVIDER=S3

AWS_REGION=ap-northeast-2

AWS_ACCESS_KEY_ID=AKIAZKDICZGDTVQI4NOE
AWS_SECRET_ACCESS_KEY=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

AWS_S3_PUBLIC_BUCKET=almondyoung-demo
AWS_S3_PRIVATE_BUCKET=almondyoung-demo
