DATABASE_URL=postgresql://neondb_owner:npg_UhcR5rNQ8mIe@ep-tiny-art-a1bwtgfe-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

KAFKA_CLIENT_ID_PREFIX="wallet"
KAFKA_GROUP_ID="wallet-group"

RAILWAY_DOCKERFILE_PATH="apps/wallet/Dockerfile"

KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"

CUST_KEY="your_hyosung_cms_cust_key"
CUST_ID="your_hyosung_cms_cust_id"
SW_KEY="your_hyosung_cms_sw_key"
AUTH_SECRET="${{shared.AUTH_SECRET}}"
