MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,http://localhost:8000,https://api-gateway-demo-6e35.up.railway.app,http://localhost:8080
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com,http://localhost:5000,https://api-gateway-demo-6e35.up.railway.app,http://localhost:8080

REDIS_URL=redis://localhost:6379
JWT_SECRET=ewfisdfdsfdsfdsf123
JWT_EXPIRES_IN=30d
COOKIE_SECRET=ewfisdfdsfdsfdsf123

DATABASE_URL=postgresql://neondb_owner:npg_IXJc5sAYepV9@ep-muddy-bird-a1ao43dw-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

FRONTEND_URL=http://localhost:8000

KAFKA_CLIENT_ID_PREFIX="medusa"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_GROUP_ID="medusa-group"

RAILWAY_DOCKERFILE_PATH="apps/medusa/Dockerfile"

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"

S3_ACCESS_KEY_ID="AKIAZKDICZGDYQHHMMPE"
S3_BUCKET="almondyoung-medusa-digital-asset"
S3_ENDPOINT=""
S3_FILE_URL="https://almondyoung-medusa-digital-asset.s3.ap-northeast-2.amazonaws.com"
S3_REGION="ap-northeast-2"
S3_SECRET_ACCESS_KEY="vpv6TbgBl4esrAURmXI/rLlCrz5MT8taSyk8qLzJ"
