DATABASE_URL=

RAILWAY_DOCKERFILE_PATH="apps/notification/Dockerfile"

KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_CLIENT_ID_PREFIX="notification"
KAFKA_GROUP_ID="notification-group"

NHN_API_URL="https://api-alimtalk.cloud.toast.com"
NHN_APP_KEY=
NHN_PLUS_FRIEND_ID="@아몬드영"
NHN_SECRET_KEY=
NHN_SENDER_KEY=

RESEND_API_KEY=
RESEND_BASE_URL="https://api.resend.com"
RESEND_FROM="noreply@almondyoung.com"
RESEND_FROM_NAME="Almond Young"
RESEND_WEBHOOK_SECRET=
