DATABASE_URL=postgresql://neondb_owner:npg_IJyN5d1seaUb@ep-wandering-union-a1ead79i-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_CLIENT_ID_PREFIX="analytics"
KAFKA_GROUP_ID="analytics-group"

RAILWAY_DOCKERFILE_PATH="apps/analytics/Dockerfile"
