PORT=3003

AUTH_SECRET="${{shared.AUTH_SECRET}}"

DATABASE_URL=postgresql://neondb_owner:npg_s2WLwrB8yOdG@ep-patient-frost-a11kkz8r-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_CLIENT_ID_PREFIX="ugc-service"
KAFKA_GROUP_ID="ugc-service-group"

RAILWAY_DOCKERFILE_PATH="apps/ugc-service/Dockerfile"
