DATABASE_URL=postgresql://neondb_owner:npg_TFuO3GYS8jxJ@ep-silent-sea-a191s6x9-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

KAFKA_API_KEY="${{shared.KAFKA_API_KEY}}"
KAFKA_API_SECRET="${{shared.KAFKA_API_SECRET}}"
KAFKA_BROKERS="${{shared.KAFKA_BROKERS}}"
KAFKA_CLIENT_ID_PREFIX="channel-adapter"
KAFKA_GROUP_ID="channel-adapter-group"

RAILWAY_DOCKERFILE_PATH="apps/channel-adapter/Dockerfile"

NAVER_API_ENDPOINT="https://dummy.com"
NAVER_CLIENT_ID=1
NAVER_CLIENT_SECRET=1
COUPANG_ACCESS_KEY=1
COUPANG_SECRET_KEY=1
COUPANG_VENDOR_ID=1

MEDUSA_API_KEY="sk_03e3002f4d0291863d5c3a4bf0848413a271a79bc3bdbeb1991d757b3e0f3e8a"
MEDUSA_API_URL="https://medusa-demo.up.railway.app"
MEDUSA_MEMBERSHIP_GROUP_ID="cusgroup_01KE6GWYQDXRCN0Y3PD2K69FKY"
PIM_API_URL="https://pim-demo.up.railway.app"
SKIP_VARIANTS_WITHOUT_PRICE="true"
